//- - href1 = "background-image: url(" + background + ")";
//- important mixin
mixin spacer(num)
  +ie-open({table:600})
  table(border="0" cellpadding="0" cellspacing="0")&attributes(attributes).line-heigh-0.no-spacing
    tbody
      tr
        td(height!=num).no-spacing.line-heigh-0
  +ie-close

mixin ie-open(props)
  - props = props || {};
  - table = props.table ? 'max-width="' + props.table + '"' : '';
  - cell = props.cell ? 'max-width="' + props.cell + '"' : '';
  |<!--[if (mso)|(IE)]>
  |<table align="center" class="preheader" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 600px; width: 100%;">
  |<![endif]-->
mixin ie-close(props)
  - props = props || {};
  |<!--[if mso]></table>
  |<![endif]-->

//-------------------------------------------------------------//
//----------------------- MIXIN FOR IMAGES ----------------------//
//-------------------------------------------------------------//




//- Mixin for 1 IMG FULL WIDTH

mixin table_1img(src, alt)
  table(border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;" ).global-img&attributes(attributes).w-100
    tr
      td
        img(src!=src, alt=alt).w-100.no-spacing



//- Mixin for 1 IMG FULL WIDTH and tag a
mixin table_1img_a(href, src, alt)
  table(border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;" ).global-img&attributes(attributes).w-100
    tr
      td
        a(href!=href alt!=alt)
          +table_1img(src, alt)

//- Mixin for 1 IMG FULL WIDTH and tag a - mobile

mixin table_1img_a_mobile(href, src, alt)
  table(border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;" ).global-img&attributes(attributes).w-100.hideOnPC
    tr
      td.hideOnpc
        a(href!=href alt!=alt)
          +table_1img(src, alt).hideOnPC

//- Mixin for 1 IMG Logo
mixin logo-header-pc(src, alt)
  +ie-open({table:600})
  table(border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;").global-img&attributes(attributes)
    tr
      td.wrapper-logo-header-pc
        +spacer(20)
        +table_1img(src, alt)
        +spacer(20)
  +ie-close

//- trong trường hợp 2 td cùng nhau mà trong TD A chỉ có 1 table chứa 1 td, và TD B có 1 table chứa 2 TD con --> TD của A sẽ được nằm chính giữa. 

//- Để xử lý trường hợp này mình phải tự add thêm spacing cho 2 đầu của thẻ header.


//-------------------------------------------------------------//
//----------------------- MIXIN FOR BUTTON ----------------------//
//-------------------------------------------------------------//

//- button

mixin button-fill(props)
  - props = props || {};
  |<!--[if mso]>
  |<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:55px;v-text-anchor:middle;width:216px;"strokecolor="#002C60" fillcolor="#002C60">
  |<w:anchorlock/>
  |<center style="color:#ffffff;font-family:sans-serif;font-size:18px;font-weight:bold;">Explore all offers</center>
  |</v:rect>
  |<![endif]-->


mixin button(props)
  - props = props || {};
  |<!--[if mso]>
  |<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:55px;v-text-anchor:middle;width:216px;" strokecolor="#002C60" fillcolor="white">
  |<w:anchorlock/>
  |<center style="color:#002C60;font-family:sans-serif;font-size:13px;font-weight:bold;">Contact a dealer</center>
  |</v:rect>
  |<![endif]-->


//- Mixin for 2 button



//-------------------------------------------------------------//
//----------------------- MIXIN FOR COMPONENTS ----------------------//
//-------------------------------------------------------------//

mixin header_nav(href, src, alt, text)
  table(border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;")&attributes(attributes)
    tr
      td(algin="center" valign="middle").nav-header
        a(target="_blank" href!=href)
          table(border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;")
            tr
              td(align="center" valign="middle").pd-nav-top
                img(src!=src, alt!=alt width="28" align="bottom" style="display: block; height: auto; margin: 0 auto !important; max-width: 100%; padding: 0 !important;").center-element
                table(border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;")
                  tr
                    td(style="font-size:12px;").text-white.text-center
                      font(style="color:white; ")= text

//- nhét pd-nav-top vào để đảm bảo click ở nút nav nào cũng có thể nhận được giá trị thẻ A, Nếu như nhét vào 1 nút nav thì chỉ có thể nhận được giá trị thẻ A cho nút btn đó.

//- mixin title sectoin

mixin title_section(title)
  table(border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;")&attributes(attributes)
    tr
      td(height="30")
    tr
      td(algin="center" valign="middle").text-center.text-title= title
    tr
      td(height="20")


//- mixin car card
mixin car-card(name_car, price, sub_car, src, alt)
  table(border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; width: 100%;")&attributes(attributes)
    tr
      td.advantage_name_car!= name_car
    tr
      td(height="5")
    tr
      td.advantage_price_car!= price
    tr
      td(height="3")
    tr
      td.advantage_sub_car!= sub_car
    tr
      td(algin="center" valign="middle" width="50%")
        img(src!= src, alt!= alt width="100%").advantage_car_img_items